# Usual Ignore File Patterns
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig

# Dependencies
node_modules

# IDEs and Code Editors
.project
.idea
.settings
.iml
*.sublime-workspace
*.sublime-project
.vscode
.eslintcache

# OS files
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes


# Transpiled files
dist/**
__sapper__/

## Test/Coverage Reports ##
reports

## EXCEPTIONS ##
!**/*/.gitkeep
