{
  "plugins": ["prettier-plugin-svelte"],
  "semi": false,
  "singleQuote": true,
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "trailingComma": "es5",
  "tabWidth": 2
}
